In [ ]:
# Name:Aditya
# Roll:2401920100035
# Qtn 2 : WAP that ask user to enter number and checks if it is positive,negative or zero using
# if,elif and else
# part 1:
num = int(input("Enter a number:"))
if num>0 :
  print("The number is positive")
elif num<0 :
  print("The number is negative")
else :
  print("The number is zero")

Enter a number:5
The number is positive

In [ ]:
#Name:Aditya
#Roll:2401920100035
#part 2:
# Uses a loop to print numbers from 1 to 10 ,but skips even number using continue statement
for i in range(1,11): #loop from 1 to 10
  if i%2==0:#check even numbers
    continue #it skip the iteration for even numbers
  else:
    print(i) #printing of odd numbers

1
3
5
7
9

In [15]:
#Name:Aditya
#Roll:2401920100035
#Qtn_3
#partA:
#Wap to accept sentence from user and demonstrate length of the sentence ,slicing (first 5 char and last 3 char),conversion to uppercase and lowercase ,finding a substring enetred by user
# Accept a sentence
sentence = input("Enter a sentence: ")

# Length of the sentence
print("Length:", len(sentence))

# Slicing
print("First 5 characters:", sentence[:5])
print("Last 3 characters:", sentence[-3:])

# Uppercase and lowercase
print("Uppercase:", sentence.upper())
print("Lowercase:", sentence.lower())

# Finding substring
sub = input("Enter substring to find: ")
if sub in sentence:
    print("Substring found!")
else:
    print("Substring not found!")

Enter a sentence: A cat is found in WinterLand
Length: 28
First 5 characters: A cat
Last 3 characters: and
Uppercase: A CAT IS FOUND IN WINTERLAND
Lowercase: a cat is found in winterland
Enter substring to find: land
Substring not found!

In [21]:
#Name:Aditya
#Roll:2401920100035
#Part B
list=[1,2,3,4,5]
print("Original List :\n")
print(list)
#Appending
Element=int(input("Enter Element to Append in List:"))
list.append(Element)
print("After Appending List is:\n")
print(list)
#insertingATindex
insertIndex=int(input("Enter Index where to Insert in List:"))
insertElement=int(input("Enter Element to Insert in List:"))
list.append(Element)
list.insert(insertIndex,insertElement)
print("After Insertion List is:\n")
print(list)
#Removing
removeElement=int(input("Enter Element to Remove in List:"))
list.remove(removeElement)
print("After Removing List is:\n")
print(list)
#slicing
print(f"list [2:7]: {list[2:7]}")

Original List :

[1, 2, 3, 4, 5]
Enter Element to Append in List:89
After Appending List is:

[1, 2, 3, 4, 5, 89]
Enter Index where to Insert in List:2
Enter Element to Insert in List:67
After Insertion List is:

[1, 2, 67, 3, 4, 5, 89, 89]
Enter Element to Remove in List:4
After Removing List is:

[1, 2, 67, 3, 5, 89, 89]

In [23]:
#Name:Aditya
#Roll:2401920100035
#Part C
# Define a tuple of 5 fruits
fruits = ("apple", "banana", "mango", "orange", "grapes")

# Indexing
print("First fruit:", fruits[0])      # apple
print("Third fruit:", fruits[2])      # mango
print("Last fruit:", fruits[-1])      # grapes

# Slicing
print("First three fruits:", fruits[0:3])   # ('apple', 'banana', 'mango')
print("Middle fruits:", fruits[1:4])        # ('banana', 'mango', 'orange')
print("All except first:", fruits[1:])      # ('banana', 'mango', 'orange', 'grapes')
print("All except last:", fruits[:-1])      # ('apple','banana','mango','orange')

First fruit: apple
Third fruit: mango
Last fruit: grapes
First three fruits: ('apple', 'banana', 'mango')
Middle fruits: ('banana', 'mango', 'orange')
All except first: ('banana', 'mango', 'orange', 'grapes')
All except last: ('apple', 'banana', 'mango', 'orange')

In [24]:
#WAP that uses Numpy to create s data frame containing at least 5 student marks in 3 subjects  and calculate and display the avg marks in each subject
import numpy as np
import pandas as pd

# Create a NumPy array (5 students Ã— 3 subjects)
marks = np.array([
    [85, 78, 92],
    [76, 88, 81],
    [90, 67, 79],
    [72, 95, 85],
    [88, 82, 90]
])

# Create DataFrame
df = pd.DataFrame(marks, columns=["Maths", "Physics", "Chemistry"])

print("Student Marks DataFrame:\n")
print(df)

# Calculate average marks of each subject
avg_marks = df.mean()

print("\nAverage Marks in Each Subject:\n")
print(avg_marks)

Student Marks DataFrame:

   Maths  Physics  Chemistry
0     85       78         92
1     76       88         81
2     90       67         79
3     72       95         85
4     88       82         90

Average Marks in Each Subject:

Maths        82.2
Physics      82.0
Chemistry    85.4
dtype: float64